h1{
    font-size: 30px;
}
.slogan{
    font-size: 20px;
    text-align: right
}

body{
    background-image: url(../img/restaurant.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-position: 
        
}
.cuerpo{
    background-color: rgba(0, 255, 255,0.3);
}
.historial{
    list-style:none;
}
.articulo{
    background-color: #00ffff;
}
.lateral{
    background-color: #00ffcc;
    padding: 15px;
}
.cabezera{
    border-bottom: solid 1px;
    margin-bottom: 10px;
}
.titulo{
    border-right: solid 1px;
    margin-bottom: 10px;
}