h1{
    font-size: 30px;
}
.slogan{
    font-size: 20px;
    text-align: right
}

body{
    background-image: url(../img/restaurant.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-position: 
        
}
.cuerpo{
    background-color: rgba(0, 255, 255,0.3);
}
.historial{
    list-style:none;
}
.articulo{
    background-color: rgb(0, 255, 255);
}
