body{
    background-image: url(../img/Zoologico4.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

.titulo{
  margin: 10px
}

.post .thumb{
    margin-right: 20px;
    width: 40%
}
@media screen and (max-width: 480px){
    .post .thumb{
        width: 100%
    }

    
}