body{
    background-image: url(../img/Zoologico4.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-position: 
}
nav{
    background-color: dodgerblue;
    height: 125px;
    background-attachment: fixed;
    
}

.titulo{
  margin: 10px
}

.post .thumb{
    margin-right: 25px;
    width: 40%
}



/*ajustes responsive*/
@media screen and (max-width: 480px){
    .post .thumb{
        width: 100%
    }

    
}
