body{
    background-color: #D4DEF7;
    margin: 0
}
.cabezera{
    background-color: #0145FE;
    
}

.color-cabezera{
    color: #340D09;
    font-size: 25px
}

ul.social-network {
	list-style:none;
	margin:0;
    
}

ul.social-network li {
    font-size: 25px;
	width: 40px;
	display: inline-block;
	text-align: center;
	height: 32px;
    
}

article p{
    text-align: justify;
}
section{
    
    background-color: #FAFA38;
}
footer p{
    background-color: black;
    color: white;
    text-align: center;
}
.post{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}
.post .post-titulo{
    color: #333
}
.imagen{
    margin-top: 30px;
   
}
aside{
    margin-top: 30px;
}
.lista-busqueda ul li{
    list-style: none;
}

@media screen and (max-width: 480px){
  
    
}
@media screen and (min-width: 480px){
    .titulo{
    height: 100px;
    position: relative;
    
    }
    ul.social-network {
    position: absolute;
    bottom: 0;
    right: 0
    }

    
}